{
    "extends": "airbnb-base",
    "installedESLint": true,
    "rules": {
        "no-console": [
            "off"
        ],
        "yoda": [
            "off"
        ]
    },
    "env": {
        "mocha": true
    }
}